@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap");

:root {
  --font-color1: #c09766;
  --font-color2: #9a7a4d;
  --font-color3: #000000;
  --bg-color1: #2b2b2b;
  --bg-gradient1: #e9e1c4;
  --bg-gradient2: #a99253;
  --bg-gradient3: #57534b;
  --bg-gradient4: #3d3a2f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto Serif", serif;
  background: linear-gradient(
    to right,
    var(--bg-gradient1) 0%,
    var(--bg-gradient2) 100%
  );
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: var(--bg-color1);
  position: sticky;
  top: 0;
}

header img {
  height: 60px;
}

.navbar-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar-list a {
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  color: var(--font-color1);
  font-size: 24px;
}

.navbar-list a:hover {
  color: var(--bg-gradient1);
}

.navbar i {
  display: none;
  font-size: 24px;
}

#toggle-menu {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero {
  display: flex;
  max-width: 1200px;
  padding: 70px;
  gap: 60px;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 50%;
}

.hero-info h1 {
  font-family: "Playfair Display", serif;
  color: var(--font-color3);
  font-weight: 900;
  font-size: 80px;
}

.hero-info p {
  color: var(--font-color3);
  font-weight: 100;
  font-size: 18px;
  line-height: 28px;
}

.hero-info b {
  font-weight: 500;
}

.buttons {
  display: flex;
  gap: 30px;
}

.buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 70px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-weight: 200;
  font-size: 16px;
}

.btn1 {
  background: linear-gradient(
    to right,
    var(--bg-gradient3) 0%,
    var(--bg-gradient4) 100%
  );
  color: var(--bg-gradient1);
}

.buttons a:hover {
  font-weight: 600;
}

.btn2 {
  background-color: transparent;
  border: var(--bg-gradient4) 2px solid;
  color: var(--bg-gradient4);
}

.hero-card {
  display: flex;
  width: 500px;
  padding: 15px;
  border-radius: 15px;
  background: linear-gradient(
    to right,
    var(--bg-gradient3) 0%,
    var(--bg-gradient4) 100%
  );
  background-repeat: no-repeat;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.hero-card img {
  width: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

#about {
  display: flex;
  padding: 150px;
  max-width: 1200px;
  justify-content: center;
}

.nosotros {
  display: flex;
  padding: 30px;
  border-radius: 15px;
  background: linear-gradient(
    to right,
    var(--bg-gradient3) 0%,
    var(--bg-gradient4) 100%
  );
  background-repeat: no-repeat;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.nosotros p {
  font-weight: 200;
  line-height: 26px;
  color: var(--bg-gradient1);
  text-align: center;
}

.nosotros b {
  font-weight: 500;
}

#productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin-bottom: 200px;
}

#productos h2 {
  font-family: "DM Serif Display", serif;
  font-size: 40px;
  font-weight: 800;
  color: var(--font-color3);
}

#productos img {
  width: 40px;
}

#productos h3 {
  font-weight: 500;
}

#productos p {
  font-weight: 100;
  text-align: center;
  line-height: 26px;
}

.p-cards {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0px 32px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 260px;
  height: 300px;
  border-radius: 15px;
  border: var(--bg-gradient4) 2px solid;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 22px;
}

.product-card:hover {
  background: linear-gradient(
    to right,
    var(--bg-gradient3) 0%,
    var(--bg-gradient4) 100%
  );
  color: var(--bg-gradient1);
  border: var(--bg-gradient1) 2px solid;
  cursor: pointer;
}

#donde-encontrarnos {
  background: linear-gradient(
    to right,
    var(--bg-gradient2) 0%,
    var(--bg-gradient1) 100%
  );
  width: 100%;
  display: flex;
  justify-content: center;
}

.where {
  display: flex;
  max-width: 1600px;
  gap: 70px;
}

.where-info {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 70px;
  width: 50%;
}

.where-info h2 {
  font-family: "DM Serif Display", serif;
  font-size: 40px;
  font-weight: 800;
  color: var(--font-color3);
}

.where-info img {
  width: 16px;
}

.where-info h3 {
  font-size: 20px;
  font-weight: 600;
}

.where-info p {
  font-weight: 200;
}

.sucursales {
  display: flex;
  gap: 66px;
}

.sucursal {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.sucursal-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sucursal-item {
  display: flex;
  gap: 1rem;
}

.where-img {
  width: 560px;
}

.where-img img {
  width: 100%;
  display: block;
}

.social {
  display: flex;
  justify-content: center;
  gap: 18px;
}

.social img {
  width: 20px;
}

.social img:hover {
  width: 24px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
  padding-top: 60px;
  padding-bottom: 45px;
  font-size: 14px;
  font-weight: 200;
  color: var(--font-color3);
}

footer a {
  color: var(--font-color3);
}

footer a:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  gap: 30px;
}
