@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

:root {
  --font-color1: #c09766;
  --font-color2: #9a7a4d;
  --bg-gradient1: #e9e1c4;
  --bg-gradient2: #c1a352;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Playfair Display", serif;
  background: linear-gradient(
    144deg,
    var(--bg-gradient1) 0%,
    var(--bg-gradient2) 100%
  );
  background-repeat: no-repeat;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #2b2b2b;
  position: sticky;
  top: 0;
}

header img {
  height: 60px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar a {
  font-weight: 600;
  color: var(--font-color1);
  font-size: 24px;
}

/* HERO */

#hero {
  display: flex;
  max-width: 1200px;
  padding: 70px;
  justify-content: center;
  align-items: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.hero-card {
}
